@model PrácticaEnElAula.Models.Employee

@{
    ViewData["Title"] = "Empleado - Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Empleado</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeIngreso" class="control-label"></label>
                <input asp-for="FechaDeIngreso" class="form-control" />
                <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <a asp-action="Index" class="btn btn-primary">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
